.inputs{
    input{
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 5px;
        outline: none;
        text-align: center;
        background:#79a0be;
    }
}

.buttons{
    position: fixed;
    bottom: 50px;
  
    button{
       width: 50px;
       height: 50px;
       background: #f58e26;
       border-radius: 100%;
       color: var(--ion-color-light);
       outline: none;
       box-shadow:  0 4px 8px 0 rgba(155, 204, 235, 0.2);
       text-align: center;
    }
}

.keypad{
    display: flex;
    justify-content: center;
    text-align: center;
}

img{
 
    width: 300px;
    height: 130px;


}
// .content{
// margin-top: -50px;
// }

ion-button {
    --background:#f58e26; 
    margin: 10px;
    margin-bottom: 40px;
}
.btn{
    background: #f58e26;
    height:50px ;
  }
  .genotp{
    
    margin-top: 190px;
    
  }

  .spinner{
    display: flex;
    justify-content: center;
    transform: scale(3);   
  }


  .circle-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    }
    
    .circle {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    }
    
    .circle-1 {
    
    position: absolute;
    left: -23.42%;
    right: 75.35%;
    top: -6.04%;
    bottom: 80.47%;
    background-color: rgba(248, 150, 34, 0.27);
    /* change this to the color you want */
    }
    
    .circle-2 {
    background-color: rgba(248, 150, 34, 0.27);
    /* change this to the color you want */
    position: absolute;
    left: -2%;
    right: 50.93%;
    top: -15.48%;
    bottom: 86.91%;
    }
    .logo{
        margin-top: 7rem;
        }