<ion-header>
  <ion-toolbar>
    <ion-title>getStarted</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="circle-container">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
  </div>


<div class="boby">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrfSJmssTaTDVEg1WoKdANXb-JdzYts1fcVg&usqp=CAU" alt="centered image"  style="  max-width: 110%;
  height: anto;">
</div>
<div class="contanier">
  <h1 style="text-align:center; margin-top: -17rem;">Live Transport Market</h1>
  <p style="margin-left: 2rem;">Book Truks,trailers& Trankers from live market and find best delas</p>
</div>
</ion-content>
<ion-button class="get" expand="full" shape="round">Get Strated   <ion-icon name="arrow-forward-outline"></ion-icon> </ion-button>