ion-content {
    ion-list {
        padding-bottom: 50px;
        ion-segment {
            --background: var(--ion-color-primary-contrast);
            border-radius: 20px;
            border: 1px solid lightgray;
            --margin-top: 5px;
            --margin-bottom: 5px;
            margin-right:10px;
            ion-segment-button {
                transition: 0.9s;
                --background-checked: #f58e26;
                --indicator-color: #f58e26;
                --border-radius: 20px;
                --color: black;
                --color-checked: var(--ion-color-primary-contrast);
                
            }
        }
    }
}
.marginBottom {
    margin-bottom: 5vh;
    display: flex;
    
}



.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .circle {
  
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .circle-1 {
  
    position: absolute;
    left: -23.42%;
    right: 75.35%;
    top: -2.04%;
    bottom: 80.47%;
    background-color: rgba(248, 150, 34, 0.27);
    /* change this to the color you want */
  }
  
  .circle-2 {
    background-color: rgba(248, 150, 34, 0.27);
    /* change this to the color you want */
    position: absolute;
    left: -2%;
    right: 50.93%;
    top: -11.48%;
    bottom: 86.91%;
  }

  .company{
    --background: #f58e26;
  }